@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 224 71.4% 4.1%;

        --card: 0 0% 100%;
        --card-foreground: 224 71.4% 4.1%;

        --popover: 0 0% 100%;
        --popover-foreground: 224 71.4% 4.1%;

        --primary: 259 64% 60%;
        --primary-foreground: 210 40% 98%;

        --secondary: 220 14.3% 95.9%;
        --secondary-foreground: 220.9 39.3% 11%;

        --muted: 220 14.3% 95.9%;
        --muted-foreground: 220 8.9% 46.1%;

        --accent: 220 14.3% 95.9%;
        --accent-foreground: 220.9 39.3% 11%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 220 13% 91%;
        --input: 220 13% 91%;

        --ring: 259 64% 60%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 224 71.4% 4.1%;
        --foreground: 210 40% 98%;

        --card: 224 71.4% 4.1%;
        --card-foreground: 210 40% 98%;

        --popover: 224 71.4% 4.1%;
        --popover-foreground: 210 40% 98%;

        --primary: 259 64% 60%;
        --primary-foreground: 210 40% 98%;

        --secondary: 215 27.9% 16.9%;
        --secondary-foreground: 210 40% 98%;

        --muted: 215 27.9% 16.9%;
        --muted-foreground: 217.9 10.6% 64.9%;

        --accent: 215 27.9% 16.9%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 215 27.9% 16.9%;
        --input: 215 27.9% 16.9%;

        --ring: 259 64% 60%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

.radial-progress {
    --progress: 10;
    --radial-color: hsl(var(--primary));
    /* --text-color: hsl(var(--primary-foreground)); */

    min-height: 30px;
    min-width: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    /* color: var(--text-color); */

    background: conic-gradient(
        var(--radial-color) calc(var(--progress) * 1%),
        transparent calc(var(--progress) * 1%)
    );
}
